<!doctype html>
html
    head
        meta(charset="utf-8")
        meta(name="format-detection" content="telephone=no")
        meta(name="viewport" content="user-scalable=yes, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height")
        link(rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css")
        link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css')
        
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")

        link(media="screen" rel="stylesheet" type="text/css" href="/css/global.css")
        link(media="screen" rel="stylesheet" type="text/css" href="css/theme.css")
        block conditionnalHeader
    body
        include blocks/menu
        div.container-fluid
            div.row
                include blocks/navbar
            #contentRow.row
                div(class="col-xs-0 col-sm-0 col-md-1 col-lg-3")
                div(class="col-xs-12 col-sm-12 col-md-10 col-lg-6" data-menu-origin="col-xs-12 col-sm-12 col-md-10 col-lg-6")
                    block content
                div(class="col-xs-0 col-sm-0 col-md-1 col-lg-3")
        script(type="text/javascript" src="/js/libs/jquery.min.js")
        script(type="text/javascript" src="/js/libs/response.min.js")
        script(type="text/javascript" src="/js/libs/menu.js")
        script(type="text/javascript" src="/js/libs/jquery.cookie.js")
        script(type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")