extends ../dashboard
block pageHeader
    script(src="/js/pages/help.front.js" type="text/javascript")
block dashboardContent
    div(class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main")
        h2(class="sub-header") Obtenir de l'aide
        div(class="col-sm-3")
            div(class="list-group")
                a(href="#" class="list-group-item") Mon application
                ul(class="hidden")
                    li 
                        a(href="#") Link 1
                    li  
                        a(href="#") Link 2
                    li  
                        a(href="#") Link 3
                    li  
                        a(href="#") Link 4
                a(href="#" class="list-group-item") Mon interface de gestion
                ul(class="hidden")
                    li  
                        a(href="#") Link 1
                    li  
                        a(href="#") Link 2
                    li  
                        a(href="#") Link 3
                    li  
                        a(href="#") Link 4
                a(href="#" class="list-group-item") Mon abonnement / facturation
                ul(class="hidden")
                    li  
                        a(href="#") Link 1
                    li  
                        a(href="#") Link 2
                    li  
                        a(href="#") Link 3
                    li  
                        a(href="#") Link 4
                a(href="#" class="list-group-item") Autres questions
                ul(class="hidden")
                    li  
                        a(href="#") Link 1
                    li  
                        a(href="#") Link 2
                    li  
                        a(href="#") Link 3
                    li  
                        a(href="#") Link 4
        div(class="col-sm-1")
        div(class="col-sm-8")
            div(id="helpContent" class="hidden")
                p Omitto iuris dictionem in libera civitate contra leges senatusque consulta; caedes relinquo; libidines praetereo, quarum acerbissimum extat indicium et ad insignem memoriam turpitudinis et paene ad iustum odium imperii nostri, quod constat nobilissimas virgines se in puteos abiecisse et morte voluntaria necessariam turpitudinem depulisse. Nec haec idcirco omitto, quod non gravissima sint, sed quia nunc sine teste dico.
                p Vbi curarum abiectis ponderibus aliis tamquam nodum et codicem difficillimum Caesarem convellere nisu valido cogitabat, eique deliberanti cum proximis clandestinis conloquiis et nocturnis qua vi, quibusve commentis id fieret, antequam effundendis rebus pertinacius incumberet confidentia, acciri mollioribus scriptis per simulationem tractatus publici nimis urgentis eundem placuerat Gallum, ut auxilio destitutus sine ullo interiret obstaculo.
                p Nec minus feminae quoque calamitatum participes fuere similium. nam ex hoc quoque sexu peremptae sunt originis altae conplures, adulteriorum flagitiis obnoxiae vel stuprorum. inter quas notiores fuere Claritas et Flaviana, quarum altera cum duceretur ad mortem, indumento, quo vestita erat, abrepto, ne velemen quidem secreto membrorum sufficiens retinere permissa est. ideoque carnifex nefas admisisse convictus inmane, vivus exustus est.