div(class="row" id="menuHeaderRow")
    div(class="col-xs-1 col-sm-1 col-md-2 col-lg-2" id="menuHeader")
        p Titan
.row
    div(class="col-xs-11 col-sm-11 col-md-10 col-lg-10" id="contentHeader")
        p contenu du header