div(class="row" id="menuHeaderRow")
	div(id="menuHeader")
		h1 
			i(class="fa fa-bolt") 
			span  TITAN
.row
	ul(id="menu")
		li
			a(href="/")
				i(class="fa fa-home") 
				span Accueil
		li
			a(href="/crm")
				i(class="fa fa-bar-chart-o") 
				span Analytics
		li
			a(href="/crm")
				i(class="fa fa-group") 
				span Gestion clients
		li
			a(href="/shop")
				i(class="fa fa-shopping-cart") 
				span Gestion boutique
		li
			a(href="/technical")
				i(class="fa fa-cube") 
				span Technique