div(class="row" id="menuHeaderRow")
	div(id="menuHeader")
		h1 
			i(class="fa fa-bolt") 
			span  TITAN
.row
	div(id="menu" class="list-group")
		a(href="#" class="list-group-item") Accueil
		ul(class="hidden")
			li 
				a(href="/") Tableau principal
		a(href="#" class="list-group-item") Analytics
		a(href="#" class="list-group-item") Gestion clients
		a(href="#" class="list-group-item") Gestion boutique
		a(href="#" class="list-group-item") Technique
		ul(class="hidden")
			li 
				a(href="/technical/logs") Voir les logs