
/*
* Thème bleu clair
*/
.bluetheme #header
{
	background-color: #83b9e2;
	color: #ffffff;
}
.bluetheme .clear
{
	background-color: #83b9e2;
}

/*
* Thème vert clair
*/
.greentheme #header
{
	background-color: #34b196;
	color: #ffffff;
}
.greentheme .clear
{
	background-color: #34b196;
}

/*
* Thème rouge clair
*/
.redtheme #header
{
	background-color: #ea5f42;
	color: #ffffff;
}
.redtheme .clear
{
	background-color: #ea5f42;
}
