<!doctype html>
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/css/bootstrap/bootstrap.min.css" rel="stylesheet")
        link(href="/css/bootstrap/bootstrap-overrides.css" rel="stylesheet")
        link(href="/css/libs/font-awesome.css" rel="stylesheet")
        link(href="/css/layout.css" rel="stylesheet")
        link(href="/css/dashboard.css" rel="stylesheet")
        link(href="/css/libs/icons.css" rel="stylesheet")
        link(href="/css/libs/elements.css" rel="stylesheet")
        script(src="/js/libs/jquery.min.js" type="text/javascript")
        script(src="/js/libs/bootstrap.min.js" type="text/javascript")
        script(src="/js/global.front.js" type="text/javascript")
        block conditionnalHeader
    body
        block content
