= "body{"
= 	"background-color : "+model.backgroundColor+";"
= "}"
= ".navbar-inverse{"
= 	"background-color : "+model.navbar.backgroundColor+";"
= "}"
= ".navbar-brand{"
= 	"color : "+model.navbar.textColor+" !important;"
= "}"