extends ../dashboard
block dashboardContent
	.row
		div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 headerElement headerTechnical")
			h1 Technique
	.row
		div(class="col-xs-0 col-sm-0 col-md-1 col-lg-1")
		div(class="col-xs-12 col-sm-12 col-md-10 col-lg-10 contentContainer")
			.panel.panel-default
				.panel-heading Gestion du serveur
				.panel-body test
			.panel.panel-default
				.panel-heading Gestion des données
				.panel-body 
					a(href="/technical/exportDatabase")
						button(class="btn btn-primary") Exporter les données
		div(class="col-xs-0 col-sm-0 col-md-1 col-lg-1")