.sb-slidebar.sb-left
	nav
		ul.sb-menu
			li(class="sb-menu-top")
			each navElement in model.navigation
				li(class="sb-close")
					a(href="#{navElement.link}") #{navElement.name} 
						img(src="/img/content/icons/#{navElement.link}.png" class="menu_icon")

