#menu
	div.container-fluid
		.row
			div(class="navbar navbar-fixed-top navbar-inverse" role="navigation")
				div.container-fluid
				div(class="row navbar-brand") 
	#menuContainer.container-fluid
		each navElement in model.navigation
			.row-fluid
				a(href="#{navElement.link}")
					img(src="/img/content/icons/#{navElement.link}.png" class="menu_icon")
					span #{navElement.name}