nav(class="navbar navbar-default navbar-fixed-top sb-slide" role="navigation")
	div(class="sb-toggle-left navbar-left")
		div(class="navicon-line")
		div(class="navicon-line")
		div(class="navicon-line")
		div(class="container")
			h1 #{model.page.name}