nav.navbar.navbar-inverse.navbar-fixed-top.sb-slide(role='navigation')
    .sb-toggle-left.navbar-left
        .navicon-line
        .navicon-line
        .navicon-line
      .container.text-center#title-navbar #{model.page.name}
          
