aside(id="header")
    a(class="menu-icon show-menu" href="javascript:void(0);")
        img(id="menu-icon-img" src="/img/menu/ico-menu.png")
    h1 Mon dentiste
aside(id="menu")
    div(id="menu_title")
        h1 Menu
    menu
        li
            a(href="index.html")
                img(src="/img/content/icons/icon_accueil.png" class="menu_icon")
                span Accueil
        li
            a(href="rendezvous.html")
                img(src="/img/content/icons/icon_rdv.png" class="menu_icon")
                span Mes rendez-vous
        li
            a(href="fiches.html")
                img(src="/img/content/icons/icon_fiches.png" class="menu_icon")
                span Fiches conseils
        li
            a(href="cabinet.html")
                img(src="/img/content/icons/icon_cabinet.png" class="menu_icon")
                span Le cabinet
        li
            a(href="equipe.html")
                img(src="/img/content/icons/icon_equipe.png" class="menu_icon")
                span L'équipe
        li
            a(href="adresse.html")
                img(src="/img/content/icons/icon_adresse.png" class="menu_icon")
                span Adresse
        li
            a(href="contact.html")
                img(src="/img/content/icons/icon_contact.png" class="menu_icon")
                span Contact
        li
            a(href="horaires.html")
                img(src="/img/content/icons/icon_horaires.png" class="menu_icon")
                span Horaires
        li
            a(href="parametres.html")
                img(src="/img/content/icons/icon_parametres.png" class="menu_icon")
                span Paramètres