- var menu = [[{ name : "Accueil", path : "/", icon : "home"}], [{ name : "Mon application", path : "/application", icon : "th-large"},{ name : "Boutique", path : "/shop", icon : "shopping-cart" }],[{ name : "Aide", path : "/help", icon : "life-ring"},{ name : "Nous contacter", path : "/contact", icon : "envelope" }]]
div(id="sidebar-nav")
    ul(id="dashboard-menu")
        each block in menu
            each element in block
                if element.path == model.activeMenu
                    li(class="active")
                        div(class="pointer")
                            div(class="arrow")
                            div(class="arrow_border")
                        a(href=""+element.path)
                            i(class="fa fa-lg fa-"+element.icon)
                            span #{element.name}
                else
                    li
                        a(href=""+element.path)
                            i(class="fa fa-lg fa-"+element.icon)
                            span #{element.name}