extends ../layout
block conditionnalHeader
	link(rel="stylesheet" href="/css/dentist/homepage.css")
block content
	.col-xs12.col-sm12.col-md12.col-lg12
		img(src="#{model.page.data.coverPicture}" id="coverImg")
		#profileImgContainer.row
			img(src="#{model.page.data.profilePicture}" id="profileImg")
		h3=model.page.data.displayName
			small=model.page.data.shortDescription

