div(class="navbar navbar-fixed-top navbar-inverse" role="navigation")
	button(type="button" class="navbar-toggle pull-left" )
		span(class="icon-bar")
		span(class="icon-bar")
		span(class="icon-bar")
	div.container-fluid
		div(class="row navbar-brand") Project name